html {
    margin:0;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
  }
  

#top{
    margin: 0;
    padding:0;
    background-color: red;
}

.contenedor{
    margin:0 auto;
    max-width: 1200px;
}

.barra-superior {
    display:flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    font-size: 50px;
}


.contenedor-audio {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#middle {
    margin:0;
    padding: 0;
}

.middle-container {
    margin: 0 auto;
    max-width: 1200px;
}

.floor {
    margin: 0;
    padding: 20px;
}

.floor div {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.foto-container {
    display: flex;
    border-radius: 40px;
}

.floor div img{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.bgroyal {
    background-color: #7772B6;
    color: snow;
}

.bgsky {
    background-color: #A9A7EB;
}

.bgsun {
    background-color: #f7af7e;
}

.bgviolet{
    background-color: #4e4e72;
    color: white;
}

.bgorange {
    background-color: #ffb668;
}

.bgred {
    background-color: gold;
}

.bgblue {
    background-color: royalblue;
    color: snow;
}

audio {
    align-items: center;
}